extends ../extends/_layout.pug

block append config
  - var subTitle = 'Contact'
  - var Description = 'このページの概要を記述する'
  - var Keywords = 'このページのキーワードを記述する'
  - var currentUrl = 'contact.html'

block content
  div.wrapper
    h1 #{mainTitle}
    h2 #{subTitle}
    p コンテンツを追加してください
    img(src="../../images/icon.png", alt="" style={display: 'block', margin: 'auto'})

block append scripts
  script(src=jsPath+"slider.js")
