doctype html
doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    title Home
  body
    a(
      href="#",
      target="_blank",
      rel="noopener noreferrer"
    ) Text here

    a#mylink.class1(href="#")&attributes({
      'target': '_blank',
      'rel': 'noopener noreferrer'
    }) Text here