extends extends/_layout.pug

block append config
  - var subTitle = 'Home'
  - var Description = 'このページの概要を記述する'
  - var Keywords = 'このページのキーワードを記述する'
  - var currentUrl = 'index.html'

block append links
  style
    :scss
      h1 {
        font-size: 50px;
      }

      ul {
        list-style: none;

        li {
          display: inline-block;
        }
      }

block content
  div.wrapper
    h1 #{mainTitle}
    h2 #{subTitle}
    p コンテンツを追加してください
    include includes/_slider.html

block append scripts
  script(src=jsPath+"slider.js")
  script.
    let btn =
    document.getElementsByClassName('btn-primary')[0];

    btn.onclick = function () {
      btn.style.background =
      'transparent';
    }