doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title Home
  body
    img
    ul
      li: a(href="#") Home
      li: a(href="#") about
      li: a(href="#") contact
    p top-page, <b>content</b>!