- var lang = 'ja'
- var mainTitle = 'メインタイトル'
- var subTitle = 'サブタイトル'
- var cssPath = '/stylesheets/'
- var jsPath = '/js/'
- var jQuery3 = true
- var Bootstrap4 = true
- var Googlefonts = 'Noto+Sans+JP:wght@300;400;700&family=Roboto:wght@300;400;500;700'
- var FontAwesome = true