nav.nav-bar
  ul
    li: a(href="#") トップページ
    li: a(href="#") 職務要約
    li: a(href="#") 開発実績
    li: a(href="#") 職務経歴
    li: a(href="#") 活かせる経験・スキル
    li: a(href="#") 自己PR
    li: a(href="#") エンジニアを目指す理由